* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}



#wrapper {

    margin: 0 auto;

}

.hero {
    width: 100%;
}

.herotext {
    width: 45%;
    height: 20rem;
    padding: 25px 120px 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    bottom: 230px;
    left: 85px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.herotext h2 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.herotext p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.herotext button {
    width: 250px;
    height: 65px;
    background-color: rgb(201, 99, 15);


}

.herotext button img {
    width: 25px;
    height: 25px;
    margin-right: 100px;

}

.services {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: stretch;

}
.sertext{
    display: flex;
    flex-direction: column;
    
}

.sertext div img {
    width: 250px;
    height: 160px
}

.sertext h2 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    margin-top: 10px;
}

.sertext p {
    min-height: 100px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin-top: 10px;

}

.sertext a {
    color: orange;
    margin-top: auto;
    padding-top: 10px;

}
.facilities{
    width: 100%;
    margin: 0 auto;
  
}
.facilities h1{
    width: 100%;
    text-align: left;
    margin-top: 200px;
    margin-bottom: 60px; 
    margin-left: 200px;   
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.flexwrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content:flex-start;
    gap: 20px;
    margin-top: 20px;
   
    
}
.faoptions{
    
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    text-align: center;
    gap: 20px;
}
.faoptions img{
    width: 30px;
    height: 30px;
}
.faoptions h2{
    text-align: left;
}
.faoptions p{
    text-align: left;
   font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;    
}